<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>观远数据</title>
</head>
<body>
  <div id="app"></div>
  <!-- <script src="https://dali-1253226729.cos.ap-chengdu.myqcloud.com/zhaojievideo0817.js?q-sign-algorithm=sha1&q-ak=AKIDiDbdKLbLgf0MpgiWjRBvNOPFY03F0NPI&q-sign-time=1534474249;1534476049&q-key-time=1534474249;1534476049&q-header-list=&q-url-param-list=&q-signature=4dd7dd59f036672cfc85b80f95a86f5737f13552&x-cos-security-token=1354399e44249200be93114fec34cc62aa3e74bf10001&response-content-disposition=attachment"></script> -->
  <script src="/assets/bundle.js"></script>
</body>
</html>
